* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.bg-mukiz {
  background-color: #5498FC;
  background-image: url(../img/etoiles.svg);
}
.bg-mukiz .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 50vh;
  width: 60%;
}
.bg-mukiz .container .logo {
  width: 40rem;
  filter: drop-shadow(0px 32px 25px rgba(27, 0, 71, 0.7));
}
.bg-mukiz .container .code-partie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 3.2rem;
}
.bg-mukiz .container .code-partie .box-code {
  background-color: #fff;
  padding: 1.6rem 6.4rem;
  border-radius: 1.6rem;
  font-size: 4.8rem;
  color: #1C7AEA;
  letter-spacing: 1.6rem;
}
.bg-mukiz .container .box-joueur {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.bg-mukiz .container .box-joueur .nom-joueur,
.bg-mukiz .container .box-joueur .join-party {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 800;
  color: #FFE000;
}
.bg-mukiz .container .box-joueur .join-party {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.bg-mukiz .container .avatar {
  background-color: #95D9FF;
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 100%;
  padding: 1.3rem;
}
.bg-mukiz .section-logo {
  justify-content: space-around;
  padding-top: 6rem;
}

.planete-violette {
  position: absolute;
  width: 415px;
  height: 424px;
  left: -97px;
  top: 52px;
  animation: rotation 100s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planete-orange {
  position: absolute;
  width: 872px;
  height: 896px;
  left: 1460px;
  top: 572px;
  animation: rotation 150s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-ingame {
  min-height: 100vh;
  display: flex;
  gap: 5rem;
  width: 100%;
}
.section-ingame h3 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 800;
}
.section-ingame .container-classement {
  display: flex;
  flex-direction: column;
  width: 80rem;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 3rem 0;
  gap: 2.4rem;
  padding: 3.2rem 3.2rem 6.4rem 6.4rem;
  border-radius: 0 1.6rem 1.6rem 0;
}
.section-ingame .container-classement .joueur-classement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-ingame .container-classement .joueur-classement .box-joueur {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section-ingame .container-classement .joueur-classement .box-joueur p {
  color: #1B0047;
  font-size: 2.4rem;
}
.section-ingame .container-classement .joueur-classement .avatar {
  background-color: #95D9FF;
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 100%;
  padding: 1.3rem;
}
.section-ingame .container-classement .joueur-classement .score {
  width: 8.8rem;
  padding: 0.4rem 0;
  background-color: #FFBD00;
  color: #1B0047;
  border-radius: 1.6rem;
  text-align: center;
  font-size: 2.4rem;
}
.section-ingame .container-music {
  display: flex;
  flex-direction: column;
}
.section-ingame .container-music .box-playlist {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0 0 1.6rem 1.6rem;
  margin: 0 7.5rem 0 0;
}
.section-ingame .container-music .box-playlist .carre-bleu {
  width: 10rem;
  height: 10rem;
  margin: 4rem;
  border-radius: 0.8rem;
  background-color: #4B04BE;
}
.section-ingame .container-music .box-playlist h1 {
  color: #1C7AEA;
  font-size: 4.8rem;
  font-weight: 800;
}
.section-ingame .container-music .historique h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 800;
}
.section-ingame .container-music .historique .box-chanson {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.section-ingame .container-music .historique .box-chanson .chanson {
  width: 22rem;
}
.section-ingame .container-music .historique .box-chanson .chanson .compositeur,
.section-ingame .container-music .historique .box-chanson .chanson .titre-chanson {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: 800;
}
.section-ingame .container-music .historique .box-chanson .chanson .titre-chanson {
  font-weight: 600;
}
.section-ingame .container-music .historique .box-chanson .chanson img {
  width: 100%;
  border-radius: 1.6rem;
}

/*# sourceMappingURL=main.css.map */
