// Couleur du texte par defaut
$texte-default-color: #fff;
// Couleur du background par defaut
$bg-default-color: #fff;

// Couleur du logo "Mukiz"
$logo-color: linear-gradient(359.83deg, #FFD24B 0.14%, #FFE18D 99.84%);

// Couleur des nombres
$number-color: #1C7AEA;

// Couleur de l'arrière plan
$bg-color: #5498FC;



