// imports des différents fichiers partiel SASS
@use "mixins" as m;
@use "colors" as c;
@use "breakpoint" as b;
@use "reset" as r;


// Page d'accueil quizz Mukiz-------------------------------------------------------------------------------------

// Fond d'ecran
.bg-mukiz {
    background-color: c.$bg-color;
    background-image: url(../img/etoiles.svg);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        min-height: 50vh;
        width: 60%;

        // Logo Mukiz avec une ombre portée
        .logo {
            width: 40rem;
            @include m.shadow-color;
        }

        // Numéro de code de la partie
        .code-partie {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: c.$text-default-color;
            font-size: 3.2rem;

            .box-code {
                background-color: c.$bg-default-color;
                padding: 1.6rem 6.4rem;
                border-radius: 1.6rem;
                font-size: 4.8rem;
                color: c.$number-color;
                letter-spacing: 1.6rem;
            }
        }

        .box-joueur {
            display: flex;
            align-items: center;
            gap: 2rem;

            // Nom du joueur
            .nom-joueur,
            .join-party {
                margin: 0;
                font-size: 3.6rem;
                font-weight: 800;
                color: c.$accueil-color-joueur;
            }

            .join-party {
                font-size: 2rem;
                font-weight: 600;
                color: c.$text-default-color;
            }
        }

        // Avatar
        .avatar {
            background-color: c.$bg-color-avatar;
            width: 8.4rem;
            height: 8.4rem;
            border-radius: 100%;
            padding: 1.3rem;
        }
    }

    .section-logo {
        justify-content: space-around;
        padding-top: 6rem;
    }
}

// Planète violette en haut à gauche
.planete-violette {
    position: absolute;
    width: 415px;
    height: 424px;
    left: -97px;
    top: 52px;

    // Animation de rotation => (0 à 360°)
    animation: rotation 100s infinite linear;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

// Planète orange en bas à droite
.planete-orange {
    position: absolute;
    width: 872px;
    height: 896px;
    left: 1460px;
    top: 572px;

    animation: rotation 150s infinite linear;

    // Animation de rotation => (0 à 360°)
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

// Page ingame "Classement / Historique ------------------------------------------------------------------

// Section global à toute la page
.section-ingame {
    min-height: 100vh;
    display: flex;
    gap: 5rem;
    width: 100%;

    // Titre "Classement"
    h3 {
        text-align: center;
        color: c.$text-default-color;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 800;
    }

    // Contenant de la partie classement
    .container-classement {
        display: flex;
        flex-direction: column;
        width: 80rem;
        background-color: c.$bg-classement-color;
        margin: 3rem 0;
        gap: 2.4rem;
        padding: 3.2rem 3.2rem 6.4rem 6.4rem;
        border-radius: 0 1.6rem 1.6rem 0;

        // Contenu et affichage des différents joueurs avec leur score
        .joueur-classement {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box-joueur {
                display: flex;
                align-items: center;
                gap: 2rem;

                // Nom du joueur
                p {
                    color: c.$classement-color-joueur;
                    font-size: 2.4rem;
                }
            }

            // Avatar
            .avatar {
                background-color: c.$bg-color-avatar;
                width: 8.4rem;
                height: 8.4rem;
                border-radius: 100%;
                padding: 1.3rem;
            }

            // Score
            .score {
                width: 8.8rem;
                padding: 0.4rem 0;
                background-color: c.$bg-color-score;
                color: c.$classement-color-joueur;
                border-radius: 1.6rem;
                text-align: center;
                font-size: 2.4rem;

            }
        }
    }

    // section "Music"
    .container-music {
        display: flex;
        flex-direction: column;

        // Contenant
        .box-playlist {
            display: flex;
            align-items: center;
            background-color: c.$bg-color-bestOfFrance;
            border-radius: 0 0 1.6rem 1.6rem;
            margin: 0 7.5rem 0 0;

            .carre-bleu {
                width: 10rem;
                height: 10rem;
                margin: 4rem;
                border-radius: 0.8rem;
                background-color: c.$color-carre-bestOfFrance;

            }

            h1 {
                color: c.$titre-color-bestOfFrance;
                font-size: 4.8rem;
                font-weight: 800;
            }
        }

        .historique {

            h2 {
                color: c.$text-default-color;
                font-size: 2.4rem;
                font-weight: 800;
            }

            .box-chanson {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                .chanson {
                    width: 22rem;

                    .compositeur,
                    .titre-chanson {
                        margin: 0;
                        text-align: center;
                        color: c.$text-default-color;
                        font-weight: 800;
                    }

                    .titre-chanson {
                        font-weight: 600;
                    }

                    img {
                        width: 100%;
                        border-radius: 1.6rem;
                    }
                }
            }
        }
    }
}