@use "mixins" as m;
@use "colors" as c;
@use "breakpoint" as b;
@use "reset" as r;

.container {
    max-width: b.$xxl-breakpoint;
    margin: 0 auto;
}

.bg-mukiz {
    background-image: url(../img/Ecran_accueil.png);
    background-size: cover;
    position: relative;
    overflow: hidden;

    .planette-violette {
        position: absolute;
        width: 415px;
        height: 424px;
        left: -97px;
        top: 52px;
    }

    .planette-orange {
        position: absolute;
        width: 872px;
        height: 896px;
        left: 1460px;
        top: 572px;
        
        
    }

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-mukiz {
            position: absolute;
            width: 500.16px;
            height: 162.87px;
            left: 710px;
            top: 117px;
            @include m.shadow-color-svg;


            .block-partie {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 16px;

                position: absolute;
                width: 368px;
                height: 157px;
                left: 776px;
                top: 372px;

                h3 {
                    color: c.$texte-default-color;
                }
            }

        }
    }
}